openapi: 3.0.3
info:
  title: Concord Agreements Templates API
  description: 'The Concord REST API provides programmatic, read-oriented access to a Concord contract lifecycle management (CLM) account. It exposes the authenticated user, the organizations that user belongs to, the agreements (contracts) within an organization, an agreement''s attachments and members, and organization-level reports, groups, and tags. All requests are authenticated with an API key passed in the `X-API-KEY` header; API key generation is available on paid plans only.


    Confirmed endpoints below were validated against the live production host (https://api.concordnow.com/api/rest/1), which returns HTTP 401 `{"statusCode":401,"restCode":"unauthorized"}` when called without a valid key. Concord''s public developer reference is a rendered documentation portal (https://api.doc.concordnow.com/) and does not expose a machine-readable OpenAPI file; response schemas here are modeled from documented behavior and connector mappings, not copied from an official spec. The template document-generation operation is documented to exist but its exact path and request body are not published, so it is included and explicitly flagged as modeled/unconfirmed.'
  version: '1.0'
  contact:
    name: Concord
    url: https://www.concord.app
servers:
- url: https://api.concordnow.com/api/rest/1
  description: Production
- url: https://uat.concordnow.com/api/rest/1
  description: UAT / Sandbox
security:
- apiKeyAuth: []
tags:
- name: Templates
  description: Document generation from automated templates (modeled/unconfirmed).
paths:
  /organizations/{organizationId}/templates/{templateUid}/documents:
    parameters:
    - $ref: '#/components/parameters/OrganizationId'
    - name: templateUid
      in: path
      required: true
      description: The UID of the automated template.
      schema:
        type: string
    post:
      operationId: createDocumentFromTemplate
      tags:
      - Templates
      summary: Create a document from an automated template (MODELED - UNCONFIRMED)
      description: MODELED / UNCONFIRMED. Concord documents that a document can be generated from an automated (Excel-driven) template using an API key and the template UID, but the exact request path, method, and body are not published in the crawlable public reference. This path and request schema are modeled to represent the capability and MUST be verified against the live account before use.
      x-concord-modeled: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Modeled request body. The real payload (template field values, title, etc.) is not published; shape MUST be confirmed.
              additionalProperties: true
      responses:
        '200':
          description: The created document/agreement (modeled).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agreement'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  parameters:
    OrganizationId:
      name: organizationId
      in: path
      required: true
      description: The ID of the organization.
      schema:
        type: string
  schemas:
    Agreement:
      type: object
      description: Modeled representation of an agreement (contract). Concord agreements carry a UID, title, lifecycle status, and timestamps; exact field names are not published and MUST be confirmed against the live account.
      properties:
        uid:
          type: string
        title:
          type: string
        status:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    Error:
      type: object
      description: Modeled from the live 401 response body.
      properties:
        statusCode:
          type: integer
        restCode:
          type: string
  responses:
    Unauthorized:
      description: Missing or invalid API key. The live API returns `{"statusCode":401,"restCode":"unauthorized"}`.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
      description: API key generated in the Concord account (paid plans only) and sent in the `X-API-KEY` request header. Confirmed against the live production host, which returns 401 unauthorized without a valid key.
